[Unit]
Description=TP-Link GPON ONU Monitor Service
Wants=network-online.target
After=network-online.target time-sync.target

[Service]
Type=oneshot
User=onu-monitor
Group=onu-monitor
WorkingDirectory=/opt/onu_monitor
ExecStart=/opt/onu_monitor/onu-monitor scrape

[Install]
WantedBy=multi-user.target
