Package: tp-link-onu-monitor
Version: 1.1.0
Architecture: all
Maintainer: kbipinkumar <kbipinkumar@pm.me>
Depends: sudo
Description: TP-Link XZ000-G7 GPON ONU Monitor
 A daemon that scrapes optical stats from the TP-Link ONU and publishes them to MQTT and InfluxDB. Includes a Web GUI on port 8991 for easy configuration.
